<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name = 'viewport' content='width=device-width, initial-scale=1'>
	
	{% block title %}
	insert title here
	{% endblock %}
	
	<link rel="stylesheet" href="static/default.css" type="text/css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="icon" href="static/favicon.png"/>
	<link rel="stylesheet" href="static/style.css" type="text/css"/>
</head>
{% block body %}
	body tag
{% endblock %}
	<header>
		{% block header %}
			header stuff here
		{% endblock %}

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav nav-pills nav-justified">
					<li class="home"><a href="index.html">Home</a></li>
					<li class="kidcenter"><a href="kidscenter.html">Kid Center</a></li>
					<li class="photogallery"><a href="photogallery.html">Photo Gallery</a></li>
					<li class="contact"><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</header> 

	{% block content %}

		content stuff here

	{% endblock %}

	<footer>
		<section id="wildcat"><img src="static/wildcat.jpg" alt="Wildcat Mascot"></section><br/>
				<p>Check out the <a href="http://www.kcsd96.org/ih/" target="_blank">Ivy Hall Elementary School Website</a> for more information!</p>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>