{% extends "templates/base.html" %}

{% block title %}
<title>Mrs. Holzhauer's Classroom - CONTACT</title>
{% endblock %}

{% block body %}
<body id="contact-1">
{% endblock %}

{% block header %}
<h1>Contact</h1>
<h2>Please Keep In Touch</h2>
{% endblock %}

{% block content %}
<section id="schoolinfo">
	<h3>Ivy Hall Elementary School</h3>
	<p>
		<span class="glyphicon glyphicon-map-marker"></span> Address: 1072 Ivy Hall Ln, Buffalo Grove, IL 60089 <br/>
		<span class="glyphicon glyphicon-phone"></span> Phone: (847)-459-0022
	</p>
</section>

	<section id="teacherinfo">
	<h3>Contact Mrs. Holzhauer</h3>
	
			<p>Comments, questions, or concerns? Send a quick note.<br/><br/>
			<span class="glyphicon glyphicon-map-marker"></span> Ivy Hall Elementary School<br/>
			<span class="glyphicon glyphicon-phone"></span> Phone: (847)-459-0022 with extension 1209<br/>
			<span class="glyphicon glyphicon-envelope"></span> Email: jholzhauer@kcsd96.org<br/>
	<form name="myform" action="contactinfo.html" method="post">
		<p>
		Name: <br/><input type="text" name="name"><br/>
		Email Address: <br/><input type="text" name="email"><br/>
		Date: <br/><input type="date" name="dateInput"><br/>
		Category: <br/><select name="file">
		<option value="Comment">Comment(s)</option>
		<option value="Question">Question(s)</option>
		<option value="Concern">Concern(s)</option>
		</select><br/>
		Comments/Questions/Concerns:<br/> <textarea name="comment"> </textarea>
		<br>
		<input type="submit" value=" Submit "><br/></p>
	</form>
	</section><br/>

	<section id="button4">
		<p>
		<a href="#top" class="btn btn-info btn-md" role="button">Return to Top of Page</a>
		</p>
	</section>
{% endblock %}