{% extends "templates/base.html" %}

{% block title %}
<title>Mrs. Holzhauer's Classroom - HOME</title>
{% endblock %}

{% block body %}
<body id="home-1">
{% endblock %}

{% block header %}
<h1 id="top">Mrs. Holzhauer's Classroom</h1>
<h2>Fun In Fifth Grade!</h2>
{% endblock %}

{% block content %}

<div class = "container">
  <div class="row">
  	<div class= "col-lg-5">
  		<section id="class">
 
			<!-- // var sticky = function () {
			// 	var picture = document.getElementById('group');
			// 	Stickyfill.add(picture);
			// };
			// sticky(); -->
			<script>
  				$(document).ready(function(){
   				 $("#class").sticky({topSpacing:0});
  					});
			</script>
			
			<img class="img-responsive img-rounded" src="static/classwithteacher.JPG" alt="Students and Teacher Group Picture">
		</section>
	</div>
    <div class="col-lg-7">
<section id="newsletter">

<h3>
	Stay updated on our exciting adventures with the Weekly Newsletter
</h3>

<p>
Date: 2/5/16<br/><br/>

Hello Parents!<br/><br/>

This month has gotten off to a great start! Here is a brief summary of what is keeping us busy in 5th grade:<br/><br/>

Literacy- For our shared reading, we are currently reading a science fiction story called Jess and Layla’s Astronomical Adventure. The two main characters of the story travel back in time and meet many of history’s famous philosophers and scientists! Throughout the reading we will work on skills such as understanding text structure, using context clues to understand word meaning, compare and contrast characters—just to name a few.<br/><br/>

Writing- Last week the kids completed a writing assessment which required students to plan and compose a science fiction story in one session. It was especially good practice for the PARCC assessments in the Spring! This week we started researching for a new expository essay. Students are being asked to select a historical discovery in the area of space and write their version of a science journal entry. It will include facts presented in an organized format, as well as visuals to support the topic. Students will also be asked to cite their sources along the way. All students have chosen a topic and have started their research.<br/><br/>

Spelling- We have continued our work with the Words Their Way program. New homework boggle sheets were sent home on Monday. Just a reminder that each boggle choice sheet is due on Friday with three completed activities.Please encourage your child to start working on these assignments earlier in the week rather than waiting until the night before they are due.<br/><br/>

Math- This week we finished a short math target that involved interpreting the size of a product of a fractional multiplication problem based on the size of each factor. We are currently working on solving real-world problems involving the multiplication of fractions.<br/><br/>

Social Studies- We will soon be finishing up our learning on the Southern colonies and the use of slavery and indentured servitude. The “help wanted” posters we made for the indentured servants look great hanging in the hallway!
On a more “current” note, we’ve also been reading articles and having discussions about the Presidential election. The kids are so excited to share their thoughts with each other on this topic! Scholastic News has provided us with some great web-based and print resources to augment our learning.<br/><br/>

Science- This week we continued our learning about the body systems. We are finishing up the digestive system, and moving onto the respiratory system.<br/><br/>

Have a great weekend!
</p>
</section>
		</div>
	</div>
</div>

	<section id="button1">
		<p>
	<a href="#top" class="btn btn-info btn-md" role="button">Return to Top of Page</a>
	</p>
	</section>

{% endblock %}