{% extends "templates/base.html" %}

{% block title %}
<title>Mrs. Holzhauer's Classroom - KID CENTER</title>
{% endblock %}

{% block body %}
<body id="kidcenter-1">
{% endblock %}

{% block header %}
<h1 id="top">Kid Center</h1>
<h2>Explore Resources By Subject Area</h2>
{% endblock %}

{% block content %}

<div class = "container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="visible-xs visible-sm"><div class="math">
		<h3>Math Links</h3>
		<ol>
		<li><a href="http://mrnussbaum.com/fractions-workshop-ipad.html" target="_blank">Reducing Fractions</a></li>
		<li><a href="http://www.themathpage.com/arith/Ar_Pr/mpow_1.htm" target="_blank">Powers of 10</a></li>
		<li><a href="http://www.math-play.com/football-math-place-value-game/football-math-place-value.html" target="_blank">Football Place Value Math</a></li>
		<li><a href="http://www.funbrain.com/tens/" target="_blank">Funbrain Place Value Puzzler</a></li>
		<li><a href="http://mrnussbaum.com/sushi-fractions-ipad.html" target="_blank">Sushi Fractions</a></li>
		<li><a href="http://www.arcademics.com/games/canoe-penguins/canoe-penguins.html" target="_blank">Canoeing Penguins Multiplication</a></li>
		</ol>
		</div></div>
        <div class="visible-md"><div class="math">
		<h3>Math Links</h3>
		<ol>
		<li><a href="http://mrnussbaum.com/fractions-workshop-ipad.html" target="_blank">Reducing Fractions</a></li>
		<li><a href="http://www.themathpage.com/arith/Ar_Pr/mpow_1.htm" target="_blank">Powers of 10</a></li>
		<li><a href="http://www.math-play.com/football-math-place-value-game/football-math-place-value.html" target="_blank">Football Place Value Math</a></li>
		<li><a href="http://www.funbrain.com/tens/" target="_blank">Funbrain Place Value Puzzler</a></li>
		<li><a href="http://mrnussbaum.com/sushi-fractions-ipad.html" target="_blank">Sushi Fractions</a></li>
		<li><a href="http://www.arcademics.com/games/canoe-penguins/canoe-penguins.html" target="_blank">Canoeing Penguins Multiplication</a></li>
		</ol>
		</div></div>
        <div class="visible-lg"><div class="math">
		<h3>Math Links</h3>
		<ol>
		<li><a href="http://mrnussbaum.com/fractions-workshop-ipad.html" target="_blank">Reducing Fractions</a></li>
		<li><a href="http://www.themathpage.com/arith/Ar_Pr/mpow_1.htm" target="_blank">Powers of 10</a></li>
		<li><a href="http://www.math-play.com/football-math-place-value-game/football-math-place-value.html" target="_blank">Football Place Value Math</a></li>
		<li><a href="http://www.funbrain.com/tens/" target="_blank">Funbrain Place Value Puzzler</a></li>
		<li><a href="http://mrnussbaum.com/sushi-fractions-ipad.html" target="_blank">Sushi Fractions</a></li>
		<li><a href="http://www.arcademics.com/games/canoe-penguins/canoe-penguins.html" target="_blank">Canoeing Penguins Multiplication</a></li>
		</ol>
		</div></div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="visible-xs visible-sm">			
        	<div class= "literacy">
	<h3>Literacy Links</h3>
	<ol>
		<li><a href="http://www.enchantedlearning.com/Dictionary.html" target="_blank">Little Explorers</a></li>
		<li><a href="http://easyscienceforkids.com/all-about-stephen-hawking/" target="_blank">Stephen Hawking Information</a></li>
		<li><a href="http://kids.nationalgeographic.com/explore/history/first-thanksgiving/" target="_blank">National Geographic: Thanksgiving</a></li>
		<li><a href="http://mrnussbaum.com/readingpassageindex/" target="_blank">Mr. Nussbaum Reading Comprehension</a></li>
	</ol>
	<div class="buttons">
	<p>
		Sign up for your <a href="https://docs.google.com/document/d/1jjhYwXyd8BKBmAujTUprkvkKSnb5T6ekE-8EMJ4maD8/edit?usp=sharing" class="btn btn-info btn-md" role="button" target="_blank">Book Talk!</a>
	</p>
	</div>
</div></div>
        <div class="visible-md">			
        	<div class= "literacy">
	<h3>Literacy Links</h3>
	<ol>
		<li><a href="http://www.enchantedlearning.com/Dictionary.html" target="_blank">Little Explorers</a></li>
		<li><a href="http://easyscienceforkids.com/all-about-stephen-hawking/" target="_blank">Stephen Hawking Information</a></li>
		<li><a href="http://kids.nationalgeographic.com/explore/history/first-thanksgiving/" target="_blank">National Geographic: Thanksgiving</a></li>
		<li><a href="http://mrnussbaum.com/readingpassageindex/" target="_blank">Mr. Nussbaum Reading Comprehension</a></li>
	</ol>
	<div class="buttons">
	<p>
		Sign up for your <a href="https://docs.google.com/document/d/1jjhYwXyd8BKBmAujTUprkvkKSnb5T6ekE-8EMJ4maD8/edit?usp=sharing" class="btn btn-info btn-lg" role="button" target="_blank">Book Talk!</a>
	</p>
	</div>
</div></div>
        <div class="visible-lg">			
        	<div class= "literacy">
	<h3>Literacy Links</h3>
	<ol>
		<li><a href="http://www.enchantedlearning.com/Dictionary.html" target="_blank">Little Explorers</a></li>
		<li><a href="http://easyscienceforkids.com/all-about-stephen-hawking/" target="_blank">Stephen Hawking Information</a></li>
		<li><a href="http://kids.nationalgeographic.com/explore/history/first-thanksgiving/" target="_blank">National Geographic: Thanksgiving</a></li>
		<li><a href="http://mrnussbaum.com/readingpassageindex/" target="_blank">Mr. Nussbaum Reading Comprehension</a></li>
	</ol>
	<div class="buttons">
	<p>
		Sign up for your <a href="https://docs.google.com/document/d/1jjhYwXyd8BKBmAujTUprkvkKSnb5T6ekE-8EMJ4maD8/edit?usp=sharing" class="btn btn-info btn-lg" role="button" target="_blank">Book Talk!</a>
	</p>
	</div>
</div></div> 
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="visible-xs visible-sm">	
        	<div class="socialstudies">
	<h3>Social Studies Links</h3>
	<ol>
		<li><a href="http://indentureadventure.wikispaces.com/home" target="_blank">Choose Your Own Adventure</a></li>
		<li><a href="http://mrnussbaum.com/international-pizza-delivery/" target="_blank">Pizza Delivery Game with Latitude and Longitude</a></li>
		<li><a href="http://mrnussbaum.com/continents-and-oceans-game/" target="_blank">Continents and Oceans Game</a></li>
		<li><a href="http://mrnussbaum.com/ameriquake-3/" target="_blank">Ameriquake - Identify the States</a></li>
		<li><a href="http://teacher.scholastic.com/activities/bhistory/underground_railroad/activities.htm" target="_blank">The Underground Railroad</a></li>
	</ol>
</div>
</div>
        <div class="visible-md">	
        	<div class="socialstudies">
	<h3>Social Studies Links</h3>
	<ol>
		<li><a href="http://indentureadventure.wikispaces.com/home" target="_blank">Choose Your Own Adventure</a></li>
		<li><a href="http://mrnussbaum.com/international-pizza-delivery/" target="_blank">Pizza Delivery Game with Latitude and Longitude</a></li>
		<li><a href="http://mrnussbaum.com/continents-and-oceans-game/" target="_blank">Continents and Oceans Game</a></li>
		<li><a href="http://mrnussbaum.com/ameriquake-3/" target="_blank">Ameriquake - Identify the States</a></li>
		<li><a href="http://teacher.scholastic.com/activities/bhistory/underground_railroad/activities.htm" target="_blank">The Underground Railroad</a></li>
	</ol>
</div>
</div>
        <div class="visible-lg">	
        	<div class="socialstudies">
	<h3>Social Studies Links</h3>
	<ol>
		<li><a href="http://indentureadventure.wikispaces.com/home" target="_blank">Choose Your Own Adventure</a></li>
		<li><a href="http://mrnussbaum.com/international-pizza-delivery/" target="_blank">Pizza Delivery Game with Latitude and Longitude</a></li>
		<li><a href="http://mrnussbaum.com/continents-and-oceans-game/" target="_blank">Continents and Oceans Game</a></li>
		<li><a href="http://mrnussbaum.com/ameriquake-3/" target="_blank">Ameriquake - Identify the States</a></li>
		<li><a href="http://teacher.scholastic.com/activities/bhistory/underground_railroad/activities.htm" target="_blank">The Underground Railroad</a></li>
	</ol>
</div>
</div> 
    </div>  

    <div class="col-md-6 col-lg-6">
        <div class="visible-xs visible-sm">
        	<div class="science">
	<h3>Science Links</h3>
	<ol>
		<li><a href="http://www.e-learningforkids.org/health/lesson/digestive-system/" target="_blank">Lenny's Digestion</a></li>
		<li><a href="http://climatekids.nasa.gov/menu/big-questions/" target="_blank">Climate with NASA</a></li>
		<li><a href="http://eschooltoday.com/natural-disasters/hurricanes/what-is-a-hurricane.html" target="_blank">Hurricanes</a></li>
		<li><a href="https://www.youtube.com/watch?v=hbJrqZaB4oI" target="_blank">Science Fiction Video</a></li>
		<li><a href="http://www.weatherwizkids.com/weather-tornado.htm" target="_blank">Tornadoes</a></li>
		<li><a href="http://www.sheppardsoftware.com/health/anatomy/digestion/digestion_game_1.htm" target="_blank">Interactive Digestive System</a></li>
	</ol>
</div>
</div>
        <div class="visible-md">
        	<div class="science">
	<h3>Science Links</h3>
	<ol>
		<li><a href="http://www.e-learningforkids.org/health/lesson/digestive-system/" target="_blank">Lenny's Digestion</a></li>
		<li><a href="http://climatekids.nasa.gov/menu/big-questions/" target="_blank">Climate with NASA</a></li>
		<li><a href="http://eschooltoday.com/natural-disasters/hurricanes/what-is-a-hurricane.html" target="_blank">Hurricanes</a></li>
		<li><a href="https://www.youtube.com/watch?v=hbJrqZaB4oI" target="_blank">Science Fiction Video</a></li>
		<li><a href="http://www.weatherwizkids.com/weather-tornado.htm" target="_blank">Tornadoes</a></li>
		<li><a href="http://www.sheppardsoftware.com/health/anatomy/digestion/digestion_game_1.htm" target="_blank">Interactive Digestive System</a></li>
	</ol>
</div>
</div>
        <div class="visible-lg">
        	<div class="science">
	<h3>Science Links</h3>
	<ol>
		<li><a href="http://www.e-learningforkids.org/health/lesson/digestive-system/" target="_blank">Lenny's Digestion</a></li>
		<li><a href="http://climatekids.nasa.gov/menu/big-questions/" target="_blank">Climate with NASA</a></li>
		<li><a href="http://eschooltoday.com/natural-disasters/hurricanes/what-is-a-hurricane.html" target="_blank">Hurricanes</a></li>
		<li><a href="https://www.youtube.com/watch?v=hbJrqZaB4oI" target="_blank">Science Fiction Video</a></li>
		<li><a href="http://www.weatherwizkids.com/weather-tornado.htm" target="_blank">Tornadoes</a></li>
		<li><a href="http://www.sheppardsoftware.com/health/anatomy/digestion/digestion_game_1.htm" target="_blank">Interactive Digestive System</a></li>
	</ol>
</div>
</div>
</div>
</div> 
</div>

	<section id="button2">
		<p>
		<a href="#top" class="btn btn-info btn-md" role="button">Return to Top of Page</a>
		</p>
	</section>
{% endblock %}